@{
    ViewBag.Title = "A B O U T";
}
    <background img src="~/images/kids just wanna be kids.jpg" />
<p>This application was created to help kids learn that being physically active can be just as fun as playing video games.<br />
   The activities within this application are planned out to help kids move, move, move, while challenging themselves and others to<br />
   do better each time, while receiving motivation via rewards.
    </p>



